{% extends "base.html" %}

{% block content %}
    <h3>Create</h3>
    <form id="frmCreate" action="/create" method="POST">
        <div>
            {{ form.task.label }}&nbsp;{{ form.task(autocomplete='off', class='task') }}
        </div>
        <div>
            {{ form.due_date.label }}&nbsp;{{ form.due_date(type='date') }}
        </div>
        <div>
            <button type="submit">Save Task</button>
        </div>
        {{ form.csrf_token }}
    </form>
{% endblock %}