{% extends "base.html" %}

{% block content %}
    <h3>Active Todo List</h3>
    <div>
        {% for t in todos %}
        <div>
            <div class="divTask">{{t.task_text}}<a href={{ url_for('completed', id=t._id) }}>Completed</a></div>
            <div>
                <span><label>Created:&nbsp;</label>{{t.create_date}}</span>
                <span><label>Due Date:&nbsp;</label>{{t.due_date}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}